workflows/01-recon-enumeration-new.json
{
  "name": "Security Audit - Complete Scan",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET,POST",
        "path": "scan-network",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "webhook-trigger",
      "name": "Start Network Scan",
      "type": "n8n-nodes-base.webhook",
      "position": [500, 300],
      "webhookId": "scan-network-webhook",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "jsCode": "// Configuración básica del escaneo\nconst input = items[0].json;\nconst params = input.query || input.body || {};\n\n// Valores por defecto\nconst defaultConfig = {\n  target: '127.0.0.1',\n  scan_intensity: 'medium',\n  evasion: true,\n  max_threads: 5,\n  timeout: 300\n};\n\n// Validar y procesar el objetivo\nconst target = params.target_network || params.target || defaultConfig.target;\nconsole.log('Target procesado:', target);\n\n// Validar y procesar la intensidad\nconst validIntensities = ['low', 'medium', 'high', 'stealth', 'full'];\nconst scan_intensity = params.intensity || params.scan_intensity || defaultConfig.scan_intensity;\nif (!validIntensities.includes(scan_intensity)) {\n  throw new Error('La intensidad debe ser: low, medium, high, stealth o full');\n}\n\n// Construir la configuración final\nconst config = {\n  target: target,\n  scan_intensity: scan_intensity,\n  evasion: params.evasion !== false,\n  max_threads: parseInt(params.max_threads) || defaultConfig.max_threads,\n  timeout: parseInt(params.timeout) || defaultConfig.timeout,\n  execution_id: 'scan_' + Date.now()\n};\n\nconsole.log('Configuración final:', JSON.stringify(config, null, 2));\nreturn [{ json: config }];"
      },
      "id": "configure-scan",
      "name": "Configure Scan Parameters",
      "type": "n8n-nodes-base.code",
      "position": [720, 300],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "// Preparar el comando para el escaneo de puertos\nconst config = items[0].json;\n\n// Log para depuración\nconsole.log('Configuración recibida:', JSON.stringify(config, null, 2));\n\n// Construir el comando completo\nconst command = `cd /home/kali/kali-security-tools && python3 scripts/port-discovery.py \"${config.target}\" --intensity ${config.scan_intensity} --service-detection --output \"temp/ports_${config.target.replace(/\\./g, '_')}.json\"`;\n\nconsole.log('Comando preparado:', command);\n\nreturn [{ \n  json: { \n    command: command,\n    config: config,\n    target: config.target,\n    intensity: config.scan_intensity\n  } \n}];"
      },
      "id": "prepare-command",
      "name": "Prepare Command",
      "type": "n8n-nodes-base.code",
      "position": [830, 300],
      "typeVersion": 2,
      "connections": {
        "main": [
          [
            {
              "node": "port-discovery",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    {
      "parameters": {
        "command": "={{ $json.command }} > /home/kali/kali-security-tools/temp/nmap_output.txt"
      },
      "id": "port-discovery",
      "name": "Port Discovery",
      "type": "n8n-nodes-base.executeCommand",
      "position": [940, 300],
      "typeVersion": 1,
      "executeOnce": false,
      "continueOnFail": false,
      "alwaysOutputData": true,
      "outputBinary": false,
      "outputPath": "stdout",
      "outputPropertyName": "output",
      "outputPropertyPath": "output",
      "outputPropertyValue": "={{ $json.stdout }}",
      "outputPropertyValuePath": "stdout",
      "outputPropertyValueType": "string",
      "connections": {
        "main": [
          [
            {
              "node": "prepare-process-command",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    {
      "parameters": {
        "jsCode": "// Procesar resultados del descubrimiento de puertos\nconst result = items[0].json;\n\n// Log para depuración\nconsole.log('Datos recibidos en Process Ports:');\nconsole.log(JSON.stringify(result, null, 2));\n\n// Extraer el JSON de la salida stdout\nlet scanResult;\ntry {\n  if (!result.output) {\n    throw new Error('No output received from command');\n  }\n  scanResult = JSON.parse(result.output);\n} catch (e) {\n  console.error('Error parseando JSON:', e);\n  console.error('Output que causó el error:', result.output);\n  return [{\n    json: {\n      success: false,\n      error: `Error procesando resultados del escaneo: ${e.message}`,\n      execution_id: Date.now()\n    }\n  }];\n}\n\n// Verificar si hay puertos abiertos\nconst openPorts = Array.isArray(scanResult.open_ports) ? scanResult.open_ports : [];\n\nconsole.log('Puertos encontrados:', openPorts);\nconsole.log('Tipo de openPorts:', typeof openPorts);\nconsole.log('Es array:', Array.isArray(openPorts));\n\n// Preparar resultado para enumeración de servicios\nconst portDiscoveryResult = {\n  success: true,\n  target: scanResult.target,\n  execution_id: scanResult.scan_info?.timestamp || Date.now(),\n  open_ports: openPorts.map(port => port.toString()), // Asegurar que los puertos son strings\n  services: scanResult.services || {},\n  scan_config: {\n    intensity: scanResult.scan_info?.intensity || 'medium',\n    service_detection: scanResult.scan_info?.service_detection || false\n  }\n};\n\nconsole.log('Resultado procesado:');\nconsole.log(JSON.stringify(portDiscoveryResult, null, 2));\n\nreturn [{ json: portDiscoveryResult }];"
      },
      "id": "process-ports",
      "name": "Process Ports",
      "type": "n8n-nodes-base.code",
      "position": [1160, 300],
      "typeVersion": 2,
      "connections": {
        "main": [
          [
            {
              "node": "prepare-service-enum",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.success }}",
              "value2": true
            }
          ]
        }
      },
      "id": "check-success",
      "name": "Check Port Discovery Success",
      "type": "n8n-nodes-base.if",
      "position": [1380, 300],
      "typeVersion": 1,
      "executeOnce": false,
      "continueOnFail": false,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Preparar comando de enumeración\nconst portData = items[0].json;\n\n// Log detallado de los datos recibidos\nconsole.log('Datos recibidos en Prepare Service Enum Command:');\nconsole.log(JSON.stringify(portData, null, 2));\n\nconst target = portData.target;\nconst intensity = portData.scan_config?.intensity || 'medium';\nconst openPorts = Array.isArray(portData.open_ports) ? portData.open_ports : [];\n\nconsole.log('Datos procesados:');\nconsole.log('Target:', target);\nconsole.log('Intensity:', intensity);\nconsole.log('Open Ports:', openPorts);\nconsole.log('Tipo de openPorts:', typeof openPorts);\nconsole.log('Es array:', Array.isArray(openPorts));\n\n// Verificar que tenemos puertos para escanear\nif (!openPorts.length) {\n  console.error('No se encontraron puertos abiertos en los datos recibidos');\n  console.error('Datos completos:', JSON.stringify(portData, null, 2));\n  throw new Error('No open ports found to enumerate');\n}\n\n// Configurar intensidad\nlet nmapOptions = '-sV -sC'; // Detección de versiones y scripts por defecto\n\nswitch(intensity) {\n  case 'low':\n    nmapOptions += ' -T2'; // Más lento pero más sigiloso\n    break;\n  case 'medium':\n    nmapOptions += ' -T3'; // Balance entre velocidad y sigilo\n    break;\n  case 'high':\n    nmapOptions += ' -T4'; // Más rápido\n    break;\n  case 'stealth':\n    nmapOptions += ' -T2 --max-retries 1 --max-scan-delay 10s';\n    break;\n  case 'full':\n    nmapOptions += ' -T4 -A'; // Agresivo, incluye OS detection\n    break;\n}\n\n// Construir comando\nconst ports = openPorts.join(',');\nconst cmd = `nmap ${nmapOptions} -p${ports} ${target}`;\n\nconsole.log('Comando generado:', cmd);\n\nreturn [{\n  json: {\n    command: cmd,\n    target: target,\n    intensity: intensity,\n    open_ports: openPorts\n  }\n}];"
      },
      "id": "prepare-service-enum",
      "name": "Prepare Service Enum Command",
      "type": "n8n-nodes-base.code",
      "position": [1000, 200],
      "typeVersion": 2,
      "connections": {
        "main": [
          [
            {
              "node": "service-enumeration",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    {
      "parameters": {
        "command": "={{ $json.command }}",
        "options": {
          "captureOutput": true
        }
      },
      "id": "service-enumeration",
      "name": "Service Enumeration",
      "type": "n8n-nodes-base.executeCommand",
      "position": [1200, 200],
      "typeVersion": 1,
      "executeOnce": false,
      "continueOnFail": false,
      "alwaysOutputData": true,
      "outputBinary": false,
      "outputPath": "output",
      "outputPropertyName": "output",
      "outputPropertyPath": "output",
      "outputPropertyType": "string",
      "outputPropertyValue": "={{ $json.output }}",
      "outputPropertyValuePath": "output",
      "outputPropertyValueType": "string"
    },
    {
      "parameters": {
        "jsCode": "// Preparar el comando para procesar la salida de nmap\nconst target = items[0].json.target || '';\nconst safeTarget = target.replace(/\\./g, '_');\n\n// Construir el comando\nconst command = `cd /home/kali/kali-security-tools && python3 scripts/process-nmap-output.py /home/kali/kali-security-tools/temp/nmap_output.txt /home/kali/kali-security-tools/temp/ports_${safeTarget}.json`;\n\nconsole.log('Comando preparado:', command);\n\nreturn [{\n  json: {\n    command: command,\n    target: target\n  }\n}];"
      },
      "id": "prepare-process-command",
      "name": "Prepare Process Command",
      "type": "n8n-nodes-base.code",
      "position": [830, 400],
      "typeVersion": 2,
      "connections": {
        "main": [
          [
            {
              "node": "process-nmap-output",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    {
      "parameters": {
        "command": "={{ $json.command }}"
      },
      "id": "process-nmap-output",
      "name": "Process Nmap Output",
      "type": "n8n-nodes-base.executeCommand",
      "position": [940, 400],
      "typeVersion": 1,
      "executeOnce": false,
      "continueOnFail": false,
      "alwaysOutputData": true,
      "outputBinary": false,
      "outputPath": "stdout",
      "outputPropertyName": "output",
      "outputPropertyPath": "output",
      "outputPropertyValue": "={{ $json.stdout }}",
      "outputPropertyValuePath": "stdout",
      "outputPropertyValueType": "string",
      "connections": {
        "main": [
          [
            {
              "node": "process-ports",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    {
      "parameters": {
        "command": "={{ $json.command }}",
        "options": {}
      },
      "id": "run-enumeration",
      "name": "Run Enumeration",
      "type": "n8n-nodes-base.executeCommand",
      "position": [1600, 200],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "// Consolidar resultados finales\nconst result = items[0].json;\n\n// Log para depuración\nconsole.log('Datos recibidos:', JSON.stringify(result, null, 2));\n\n// Extraer el JSON de la salida stdout\nlet serviceEnumResult;\ntry {\n  serviceEnumResult = JSON.parse(result.stdout);\n} catch (e) {\n  console.error('Error parseando JSON:', e);\n  return [{\n    json: {\n      success: false,\n      error: 'Error procesando resultados de enumeración',\n      execution_id: Date.now()\n    }\n  }];\n}\n\n// Verificar éxito de enumeración\nif (!serviceEnumResult || serviceEnumResult.error) {\n  return [{\n    json: {\n      success: false,\n      error: serviceEnumResult?.error || 'Service enumeration failed',\n      execution_id: Date.now()\n    }\n  }];\n}\n\n// Procesar resultados\nconst services = serviceEnumResult.services || {};\nconst vulnerabilities = serviceEnumResult.vulnerabilities || [];\n\n// Análisis de servicios\nconst serviceAnalysis = {\n  web_services: [],\n  database_services: [],\n  remote_access: [],\n  critical_services: [],\n  all_services: new Set()\n};\n\n// Categorizar servicios\nObject.entries(services).forEach(([port, service]) => {\n  if (service?.service) {\n    const serviceName = service.service.toLowerCase();\n    const version = service.version || 'Unknown';\n\n    serviceAnalysis.all_services.add(serviceName);\n    \n    if (['http', 'https', 'ssl/http', 'http-alt'].includes(serviceName)) {\n      serviceAnalysis.web_services.push({ port, service: serviceName, version });\n    }\n    if (['mysql', 'postgresql', 'mssql', 'oracle', 'mongodb'].includes(serviceName)) {\n      serviceAnalysis.database_services.push({ port, service: serviceName, version });\n    }\n    if (['ssh', 'telnet', 'rdp', 'vnc', 'ftp'].includes(serviceName)) {\n      serviceAnalysis.remote_access.push({ port, service: serviceName, version });\n    }\n    if (['smb', 'netbios-ssn', 'microsoft-ds', 'ldap'].includes(serviceName)) {\n      serviceAnalysis.critical_services.push({ port, service: serviceName, version });\n    }\n  }\n});\n\n// Generar reporte final\nconst finalResult = {\n  success: true,\n  scan_completed: new Date().toISOString(),\n  execution_id: serviceEnumResult.scan_info?.timestamp || Date.now(),\n  target: serviceEnumResult.target,\n  \n  summary: {\n    open_ports: serviceEnumResult.open_ports?.length || 0,\n    services_found: serviceAnalysis.all_services.size,\n    vulnerabilities_found: vulnerabilities.length\n  },\n  \n  findings: {\n    web_services: serviceAnalysis.web_services,\n    database_services: serviceAnalysis.database_services,\n    remote_access: serviceAnalysis.remote_access,\n    critical_services: serviceAnalysis.critical_services\n  },\n  \n  risk_assessment: {\n    high_risk: serviceAnalysis.database_services.length + serviceAnalysis.critical_services.length,\n    medium_risk: serviceAnalysis.remote_access.length,\n    low_risk: serviceAnalysis.web_services.length\n  },\n  \n  recommendations: [\n    serviceAnalysis.web_services.length > 0 ? 'Revisar configuración de servicios web' : null,\n    serviceAnalysis.database_services.length > 0 ? 'Asegurar bases de datos expuestas' : null,\n    serviceAnalysis.remote_access.length > 0 ? 'Verificar servicios de acceso remoto' : null,\n    serviceAnalysis.critical_services.length > 0 ? 'Revisar servicios críticos' : null\n  ].filter(Boolean),\n  \n  detailed_results: {\n    service_enumeration: serviceEnumResult,\n    service_analysis: {\n      all_services: Array.from(serviceAnalysis.all_services)\n    },\n    vulnerabilities: vulnerabilities\n  }\n};\n\nconsole.log('Resultado final:', JSON.stringify(finalResult, null, 2));\n\nreturn [{ json: finalResult }];"
      },
      "id": "generate-report",
      "name": "Generate Final Report",
      "type": "n8n-nodes-base.code",
      "position": [1820, 200],
      "typeVersion": 2
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "return-success",
      "name": "Return Success Results",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [2040, 200],
      "typeVersion": 1
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "return-error",
      "name": "Return Error Results",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [1600, 400],
      "typeVersion": 1
    }
  ],
  "connections": {
    "Start Network Scan": {
      "main": [
        [
          {
            "node": "Configure Scan Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Configure Scan Parameters": {
      "main": [
        [
          {
            "node": "Prepare Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Command": {
      "main": [
        [
          {
            "node": "Port Discovery",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Port Discovery": {
      "main": [
        [
          {
            "node": "Process Ports",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Ports": {
      "main": [
        [
          {
            "node": "Check Port Discovery Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Port Discovery Success": {
      "main": [
        [
          {
            "node": "Prepare Service Enum Command",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Error Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Service Enum Command": {
      "main": [
        [
          {
            "node": "Service Enumeration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Service Enumeration": {
      "main": [
        [
          {
            "node": "Process Nmap Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Nmap Output": {
      "main": [
        [
          {
            "node": "Run Enumeration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Enumeration": {
      "main": [
        [
          {
            "node": "Generate Final Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Final Report": {
      "main": [
        [
          {
            "node": "Return Success Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "id": "security-audit",
      "name": "security-audit"
    }
  ],
  "triggerCount": 1,
  "versionId": "1"
} 