workflows/03-full-audit.json
{
  "name": "05-combined-workflow",
  "nodes": [
    {
      "parameters": {
        "path": "security-audit",
        "options": {
          "responseMode": "lastNode"
        }
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "command": "curl -X POST http://localhost:5678/webhook/scan-network -H 'Content-Type: application/json' -d '{\"target\": \"{{$json.target}}\", \"intensity\": \"{{$json.intensity}}\"}'",
        "options": {}
      },
      "name": "Execute Enumeration",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "workflowId": "04-enhanced-workflow",
        "options": {}
      },
      "name": "Execute Enhanced Analysis",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "command": "python3 /home/kali/kali-security-tools/scripts/generate_consolidated_report.py --workflow-id {{$json.workflow_id}} --enum-data /home/kali/kali-security-tools/temp/enum_{{$json.target}}.json --enhanced-data /home/kali/kali-security-tools/temp/enhanced_{{$json.workflow_id}}.json --output /home/kali/kali-security-tools/reports/consolidated_{{$json.workflow_id}}.html",
        "options": {}
      },
      "name": "Generate Final Report",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Execute Enumeration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Enumeration": {
      "main": [
        [
          {
            "node": "Execute Enhanced Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Enhanced Analysis": {
      "main": [
        [
          {
            "node": "Generate Final Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionTimeout": 7200,
    "maxExecutionTime": 7200,
    "saveExecutionProgress": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "error-handler"
  },
  "tags": ["security", "audit", "combined", "enhanced"]
} 