workflows/advanced_enumeration_workflow.json
{
  "name": "Advanced Enumeration Workflow",
  "nodes": [
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 1,
              "unit": "hours"
            }
          ]
        }
      },
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Cargar configuración y objetivos\nconst config = $input.item.json.config;\nconst targets = $input.item.json.targets;\n\n// Preparar datos para el workflow\nreturn {\n  config: config,\n  targets: targets,\n  timestamp: new Date().toISOString()\n};"
      },
      "name": "Prepare Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "command": "python3 /home/kali/kali-security-tools/scripts/network_discovery_workflow.py",
        "arguments": "={{ $json.targets_file }} --intensity {{ $json.intensity }} --output {{ $json.output_dir }}",
        "options": {}
      },
      "name": "Network Discovery",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        650,
        300
      ]
    },
    {
      "parameters": {
        "command": "python3 /home/kali/kali-security-tools/scripts/database_manager.py",
        "arguments": "store_network_discovery {{ $json.network_discovery_results }}",
        "options": {}
      },
      "name": "Store Network Discovery",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        850,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.network_discovery.status }}",
              "operation": "equal",
              "value2": "completed"
            }
          ]
        }
      },
      "name": "Check Discovery Status",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1050,
        300
      ]
    },
    {
      "parameters": {
        "command": "python3 /home/kali/kali-security-tools/scripts/advanced_workflow_orchestrator.py",
        "arguments": "={{ $json.targets_file }} --intensity {{ $json.intensity }} --creds {{ $json.creds_file }} --output {{ $json.output_dir }}",
        "options": {}
      },
      "name": "Advanced Enumeration",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1250,
        200
      ]
    },
    {
      "parameters": {
        "command": "python3 /home/kali/kali-security-tools/scripts/database_manager.py",
        "arguments": "store_vulnerabilities {{ $json.vulnerabilities }}",
        "options": {}
      },
      "name": "Store Vulnerabilities",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1450,
        200
      ]
    },
    {
      "parameters": {
        "command": "python3 /home/kali/kali-security-tools/scripts/database_manager.py",
        "arguments": "store_credentials {{ $json.credentials }}",
        "options": {}
      },
      "name": "Store Credentials",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1650,
        200
      ]
    },
    {
      "parameters": {
        "command": "python3 /home/kali/kali-security-tools/scripts/generate_advanced_report.py",
        "arguments": "={{ $json.results_file }} --type full --output {{ $json.output_dir }}",
        "options": {}
      },
      "name": "Generate Reports",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1850,
        300
      ]
    },
    {
      "parameters": {
        "to": "={{ $json.config.notification_email }}",
        "subject": "Advanced Enumeration Results",
        "text": "=The advanced enumeration process has completed.\n\nResults are available at: {{ $json.output_dir }}\n\nSummary:\n- Networks discovered: {{ $json.network_discovery.networks.length }}\n- Targets scanned: {{ $json.network_discovery.targets.length }}\n- Vulnerabilities found: {{ $json.network_discovery.vulnerabilities.length }}\n- Credentials discovered: {{ $json.network_discovery.credentials.length }}",
        "options": {}
      },
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [
        2050,
        300
      ]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Prepare Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Data": {
      "main": [
        [
          {
            "node": "Network Discovery",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Network Discovery": {
      "main": [
        [
          {
            "node": "Store Network Discovery",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Network Discovery": {
      "main": [
        [
          {
            "node": "Check Discovery Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Discovery Status": {
      "main": [
        [
          {
            "node": "Advanced Enumeration",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generate Reports",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Advanced Enumeration": {
      "main": [
        [
          {
            "node": "Store Vulnerabilities",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Vulnerabilities": {
      "main": [
        [
          {
            "node": "Store Credentials",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Credentials": {
      "main": [
        [
          {
            "node": "Generate Reports",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Reports": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "none"
  },
  "staticData": {
    "config": {
      "intensity": "medium",
      "output_dir": "/home/kali/kali-security-tools/reports",
      "notification_email": "admin@example.com",
      "database": {
        "postgres": {
          "host": "localhost",
          "port": 5432,
          "database": "security_audit",
          "user": "postgres",
          "password": "your_password"
        },
        "redis": {
          "host": "localhost",
          "port": 6379,
          "db": 0,
          "password": null
        }
      }
    }
  },
  "pinData": {},
  "versionId": "1.0.0",
  "meta": {
    "instanceId": "1234567890"
  }
} 